@page "/bankbook/account"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using System.Globalization
@using C3P1.Net.Shared.Services.Apps.BankBook
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject IAccountService AccountService
@inject IMessageService MessageService

<PageTitle>BankBook / Accounts</PageTitle>

@if (Accounts is null)
{
    <Paragraph><em>Loading...</em></Paragraph>
}
else if (Accounts.Count == 0)
{
    <Paragraph><em>No bank accounts found.</em></Paragraph>
    <Paragraph>
        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/account/add"))">
            <Icon Name="IconName.Add" /> Add Account
        </Button>
    </Paragraph>
}
else
{
    <Row>
        <Column>
            <Card Style="max-width: 1200px;margin: 0 auto;">
                <CardHeader>
                    @if (selectedAccount is not null)
                    {
                        <CardText>
                            <Row>
                                <Column>
                                    <Div>Selected Account:</Div>
                                    <Div><Strong>@selectedAccount.Name</Strong> (Balance: @selectedAccount.InitialBalance.ToString("C", new CultureInfo("fr-FR")))</Div>
                                </Column>
                                <Column TextAlignment="TextAlignment.End">
                                    <Tooltip Text="Delete selected account" ShowDelay="1000" HideDelay="200">
                                        <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedAccount">
                                            <Icon Name="IconName.Delete" />
                                        </Button>
                                    </Tooltip>
                                    <Buttons Role="ButtonsRole.Addons">
                                        <Tooltip Text="Edit selected account" ShowDelay="1000" HideDelay="200">
                                            <Button Size="Size.Small" Color="Color.Secondary" Clicked="EditSelectedAccount">
                                                <Icon Name="IconName.Edit" />
                                            </Button>
                                        </Tooltip>
                                        <Tooltip Text="Add new account" ShowDelay="1000" HideDelay="200">
                                            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/account/add"))">
                                                <Icon Name="IconName.Add" />
                                            </Button>
                                        </Tooltip>
                                    </Buttons>
                                </Column>
                            </Row>
                        </CardText>
                    }
                    else
                    {
                        <CardText>
                            <Row>
                                <Column>
                                    <Div>Selected Account:</Div>
                                    <Div>None</Div>
                                </Column>
                                <Column TextAlignment="TextAlignment.End">
                                    <Tooltip Text="Add new account" ShowDelay="1000" HideDelay="200">
                                        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/account/add"))">
                                            <Icon Name="IconName.Add" />
                                        </Button>
                                    </Tooltip>
                                </Column>
                            </Row>
                        </CardText>
                    }
                </CardHeader>
                <CardBody>
                    @if (Accounts.Count > 10)
                    {
                        <DataGrid TItem="Account" Data="Accounts" Responsive @bind-SelectedRow="@selectedAccount" 
                                  Hoverable 
                                  ShowPager 
                                  ShowPageSizes
                                  Groupable
                                  ShowGrouping
                                  Resizable
                                  Bordered>
                            <DataGridColumns>
                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Account" Field="@nameof(Account.Code)" Caption="#" Width="80px"/>
                                <DataGridColumn TItem="Account" Field="@nameof(Account.Name)" Caption="Name"/>
                                <DataGridColumn TItem="Account" Field="@nameof(Account.Bank)" Caption="Bank" Groupable />
                                <DataGridColumn TItem="Account" Field="@nameof(Account.InitialBalance)" Caption="Balance"/>
                            </DataGridColumns>
                        </DataGrid>
                    }
                    else
                    {
                        <DataGrid TItem="Account" Data="Accounts" Responsive @bind-SelectedRow="@selectedAccount" 
                                  Hoverable
                                  Groupable
                                  ShowGrouping
                                  Resizable
                                  Bordered>
                            <DataGridColumns>
                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Account" Field="@nameof(Account.Code)" Caption="#" Width="80px"/>
                                <DataGridColumn TItem="Account" Field="@nameof(Account.Name)" Caption="Name" />
                                <DataGridColumn TItem="Account" Field="@nameof(Account.Bank)" Caption="Bank" Groupable />
                                <DataGridColumn TItem="Account" Field="@nameof(Account.InitialBalance)" Caption="Balance" />
                            </DataGridColumns>
                        </DataGrid>
                    }
                </CardBody>
                <CardFooter>
                    <CardText>
                        <Paragraph TextAlignment="TextAlignment.End"><Strong>Total balance : @totalBalance.ToString("C", new CultureInfo("fr-FR"))</Strong></Paragraph>
                    </CardText>
                </CardFooter>
            </Card>
        </Column>
    </Row>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private Account? selectedAccount = null;
    private List<Account>? Accounts = null;

    private decimal totalBalance => Accounts?.Sum(a => a.InitialBalance) ?? 0;

    protected override async Task OnInitializedAsync()
    {

        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Accounts", Active = true}
        });

        // Load accounts from API or database here
        await LoadData();

        await base.OnInitializedAsync();
    }

    private async Task LoadData()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load accounts from API or database
        Accounts = await AccountService.GetAccountsAsync(currentUserId);
    }

    private async Task DeleteSelectedAccount()
    {
        if (selectedAccount is not null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

            // confirm deletion
            bool result = await MessageService.Confirm($"Are you sure you want to delete <strong>{selectedAccount.Name}</strong> account?", "Confirm Deletion");
            if (result == true)
            {
                // delete account
                var success = await AccountService.DeleteAccountAsync(currentUserId, selectedAccount.Id);
                if (success)
                {
                    await LoadData();
                    selectedAccount = null;
                    StateHasChanged();
                }
                else                    // todo : manage account deletion attempt while holding transaction records
                    await MessageService.Error($"<strong>{selectedAccount.Name}</strong> can't be deleted as long has it holds transaction records", "Cannot delete account");
            }
        }
    }

    private void EditSelectedAccount()
    {
        if (selectedAccount is not null)
        {
            navManager.NavigateTo($"/bankbook/account/edit/{selectedAccount.Id}");
        }
    }
}