@page "/bankbook/account"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using System.Globalization
@using C3P1.Net.Shared.Services.Apps.BankBook
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject IAccountService AccountService

<PageTitle>BankBook / Accounts</PageTitle>

@if (Accounts is null)
{
    <Paragraph><em>Loading...</em></Paragraph>
}
else if (Accounts.Count == 0)
{
    <Paragraph><em>No bank accounts found.</em></Paragraph>
    <Paragraph>
        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/account/add"))">
            <Icon Name="IconName.Add" /> Add Account
        </Button>
    </Paragraph>

}
else
{
    <Row>
        <Column>
            <Card>
                <CardHeader>
                    <Row>
                        <Column>
                           <Span>Bank Accounts</Span>
                        </Column>
                        <Column TextAlignment="TextAlignment.End">
                            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/account/add"))">
                                <Icon Name="IconName.Add" /> Add Account
                            </Button>
                        </Column>
                    </Row>
                </CardHeader>
                <CardBody>
                    <DataGrid TItem="Account" Data="Accounts" Responsive ShowPageSizes @bind-SelectedRow="@selectedAccount" Hoverable>
                        <DataGridColumns>
                            <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Account" Field="@nameof(Account.Code)" Caption="#" Width="60px" Sortable/>
                            <DataGridColumn TItem="Account" Field="@nameof(Account.Name)" Caption="Name" />
                            <DataGridColumn TItem="Account" Field="@nameof(Account.Bank)" Caption="Bank" />
                            <DataGridColumn TItem="Account" Field="@nameof(Account.Balance)" Caption="Balance" />
                        </DataGridColumns>
                    </DataGrid>
                </CardBody>
                <CardFooter>
                    @if (selectedAccount is not null)
                    {
                        <CardText>
                            <Row>
                                <Column>
                                    <Div>Selected Account:</Div>
                                    <Div> <strong>@selectedAccount.Name</strong> (Balance: @selectedAccount.Balance.ToString("C", new CultureInfo("fr-FR")))</Div>
                                </Column>
                                <Column TextAlignment="TextAlignment.End">
                                    <Button Size="Size.Small" Color="Color.Primary" Clicked="EditSelectedAccount">Edit</Button>
                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedAccount">Delete</Button>
                                </Column>
                            </Row>
                        </CardText>
                    }
                    else
                    {
                        <CardText>
                            No account selected.
                        </CardText>
                    }
                </CardFooter>
            </Card>
        </Column>
    </Row>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private Account? selectedAccount = null;
    private List<Account>? Accounts = null;

    protected override async Task OnInitializedAsync()
    {

        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Accounts", Active = true}
        });

        // Load accounts from API or database here
        await LoadData();

        await base.OnInitializedAsync();
    }

    private async Task LoadData()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load accounts from API or database
        Accounts = await AccountService.GetAccountsAsync(currentUserId);
    }

    private async Task DeleteSelectedAccount()
    {
        if (selectedAccount is not null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

            // delete account
            var success = await AccountService.DeleteAccountAsync(currentUserId, selectedAccount.Id);
            if (success)
            {
                await LoadData();
                selectedAccount = null;
                StateHasChanged();
            }
        }
    }

    private void EditSelectedAccount()
    {
        if (selectedAccount is not null)
        {
            navManager.NavigateTo($"/bankbook/account/edit/{selectedAccount.Id}");
        }
    }
}