@page "/bankbook/bank"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using System.Globalization
@using C3P1.Net.Shared.Services.Apps.BankBook
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject IBankAccountService bankAccount

<PageTitle>BankBook / Bank accounts</PageTitle>

@if (inMemoryData == null)
{
    <Paragraph><em>Loading...</em></Paragraph>
}
else if (inMemoryData.Count == 0)
{
    <Paragraph><em>No bank accounts found.</em></Paragraph>
    <Paragraph>
        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/bank/add"))">
            <Icon Name="IconName.Add" /> Add Account
        </Button>
    </Paragraph>

}
else
{
    <Row>
        <Column>
            <Card>
                <CardHeader>
                    <Row>
                        <Column>
                           <Span>Bank Accounts</Span>
                        </Column>
                        <Column TextAlignment="TextAlignment.End">
                            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/bank/add"))">
                                <Icon Name="IconName.Add" /> Add Account
                            </Button>
                        </Column>
                    </Row>
                </CardHeader>
                <CardBody>
                    <DataGrid TItem="BankAccount" Data="inMemoryData" Responsive ShowPageSizes @bind-SelectedRow="@selectedBankAccount" Hoverable>
                        <DataGridColumns>
                            <DataGridColumn TextAlignment="TextAlignment.Center" TItem="BankAccount" Field="@nameof(BankAccount.Code)" Caption="#" Width="60px" Sortable/>
                            <DataGridColumn TItem="BankAccount" Field="@nameof(BankAccount.Name)" Caption="Name" />
                            <DataGridColumn TItem="BankAccount" Field="@nameof(BankAccount.Bank)" Caption="Bank" />
                            <DataGridColumn TItem="BankAccount" Field="@nameof(BankAccount.Balance)" Caption="Balance" />
                        </DataGridColumns>
                    </DataGrid>
                </CardBody>
                <CardFooter>
                    @if (selectedBankAccount != null)
                    {
                        <CardText>
                            <Row>
                                <Column>
                                <Span>Selected Account: <strong>@selectedBankAccount.Name</strong> (Balance: @selectedBankAccount.Balance.ToString("C", new CultureInfo("fr-FR")))</Span>
                                </Column>
                                <Column TextAlignment="TextAlignment.End">
                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedAccount">Delete</Button>
                                </Column>
                            </Row>
                        </CardText>
                    }
                    else
                    {
                        <CardText>
                            No account selected.
                        </CardText>
                    }
                </CardFooter>
            </Card>
        </Column>
    </Row>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private BankAccount? selectedBankAccount = null;
    private List<BankAccount>? inMemoryData = null;

    protected override async Task OnInitializedAsync()
    {

        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Accounts", Link = "bankbook/bank" , Active = true}
        });

        // Load accounts from API or database here

        await LoadData();
        await base.OnInitializedAsync();
    }

    private async Task LoadData()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load accounts from API or database
        inMemoryData = await bankAccount.GetBankAccountsAsync(currentUserId);
    }

    private async Task DeleteSelectedAccount()
    {
        if (selectedBankAccount != null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);
            var success = await bankAccount.DeleteBankAccountAsync(currentUserId, selectedBankAccount.Id);
            if (success)
            {
                await LoadData();
                selectedBankAccount = null;
                StateHasChanged();
            }
        }

    }
}