@page "/bankbook/category"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using Blazorise
@using Blazorise.DataGrid
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject ICategoryService CategoryService
@inject ISubCategoryService SubCategoryService

<PageTitle>BankBook / Categories</PageTitle>

@if (Categories is null || SubCategories is null)
{
    <Paragraph><em>Loading...</em></Paragraph>
}
else if (Categories.Count == 0)
{
    <Paragraph><em>No categories found.</em></Paragraph>
    <Paragraph>
        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/category/add"))">
            <Icon Name="IconName.Add" /> Add Category
        </Button>
    </Paragraph>
}
else
{
    <Row>
        <Column>
            <Card Style="max-width: 1200px;margin: 0 auto;">
                <CardHeader>
                    <Row>
                        <Column>
                           <Span>Categories</Span>
                        </Column>
                        <Column TextAlignment="TextAlignment.End">
                            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/category/add"))">
                                <Icon Name="IconName.Add" /> Add Category
                            </Button>
                        </Column>
                    </Row>
                </CardHeader>
                <CardBody>
                    @if (Categories.Count > 10)
                    {
                        <DataGrid TItem="Category" Data="Categories" Responsive @bind-SelectedRow="@selectedCategory" Hoverable ShowPager ShowPageSizes>
                            <DataGridColumns>
                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Category" Field="@nameof(Category.Code)" Caption="#" Width="60px" Sortable/>
                                <DataGridColumn TItem="Category" Field="@nameof(Category.Name)" Caption="Name" />
                                <DataGridColumn TItem="Category" Field="@nameof(Category.Description)" Caption="Description" />
                            </DataGridColumns>
                        </DataGrid>
                    }
                    else
                    {
                        <DataGrid TItem="Category" Data="Categories" Responsive @bind-SelectedRow="@selectedCategory" Hoverable>
                            <DataGridColumns>
                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Category" Field="@nameof(Category.Code)" Caption="#" Width="60px" Sortable />
                                <DataGridColumn TItem="Category" Field="@nameof(Category.Name)" Caption="Name" />
                                <DataGridColumn TItem="Category" Field="@nameof(Category.Description)" Caption="Description" />
                            </DataGridColumns>
                        </DataGrid>
                    }
                </CardBody>
                <CardFooter>
                    @if (selectedCategory is not null)
                    {
                        <CardText>
                            <Row>
                                <Column>
                                    <Div>Selected Category:</Div>
                                    <Div><strong>@selectedCategory.Code</strong> (@selectedCategory.Name)</Div>
                                </Column>
                                <Column TextAlignment="TextAlignment.End">
                                    <Button Size="Size.Small" Color="Color.Primary" Clicked="EditSelectedCategory">Edit</Button>
                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedCategory">Delete</Button>
                                </Column>
                            </Row>
                        </CardText>
                    }
                    else
                    {
                        <CardText>
                            No category selected.
                        </CardText>
                    }
                </CardFooter>
            </Card>
        </Column>
    </Row>
}

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private List<Category>? Categories = null;
    private List<SubCategory>? SubCategories = null;

    private Category? selectedCategory = null;
    private SubCategory? selectedSubCategory = null;

    IEnumerable<SubCategory> SelectedCategorySubCategories => 
        selectedCategory!.Id == Guid.Empty ?
            Enumerable.Empty<SubCategory>(): SubCategories!.Where(s => s.Category == selectedCategory.Id);

    protected override async Task OnInitializedAsync()
    {
        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node { Text = "Category", Active = true }
        });

        // Load categories and subcategories
        await LoadData();

        await base.OnInitializedAsync();
    }

    private async Task LoadCategories()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load categories from API or database
        Categories = await CategoryService.GetCategoriesAsync(currentUserId);
    }

    private async Task LoadSubCategories()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load subcategories from API or database
        SubCategories = await SubCategoryService.GetSubCategoriesAsync(currentUserId);
    }

    private async Task LoadData()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load categories and subcategories from API or database
        Categories = await CategoryService.GetCategoriesAsync(currentUserId);
        SubCategories = await SubCategoryService.GetSubCategoriesAsync(currentUserId);
    }

    private async Task DeleteSelectedCategory()
    {
        if (selectedCategory is not null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

            // delete category
            var success = await CategoryService.DeleteCategoryAsync(currentUserId, selectedCategory.Id);
            if (success)
            {
                // reload data
                await LoadData();
                selectedCategory = null;
                StateHasChanged();
            }
        }
    }

    private async Task EditSelectedCategory()
    {
        if (selectedCategory is not null)
            navManager.NavigateTo($"/bankbook/category/edit/{selectedCategory.Id}");
    }
}
