@page "/bankbook/category"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using C3P1.Net.Shared.Data.Apps.BankBook.Dto
@using Blazorise
@using Blazorise.DataGrid
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject ICategoryService CategoryService
@inject ISubCategoryService SubCategoryService
@inject IMessageService MessageService

<PageTitle>BankBook / Categories</PageTitle>

@if (Categories is null)
{
    <Paragraph><em>Loading...</em></Paragraph>
}
else if (Categories.Count == 0)
{
    <Paragraph><em>No categories found.</em></Paragraph>
    <Paragraph>
        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/category/add"))">
            <Icon Name="IconName.Add" /> Add Category
        </Button>
    </Paragraph>
}
else
{
    <Row>
        <Column Style="max-width: 1200px;margin: 0 auto;">
            <Tabs SelectedTab="@selectedTab" SelectedTabChanged="OnSelectedTabChanged">
                <Items>
                    <Tab Name="categories">Categories</Tab>
                    <Tab Name="subcategories">Sub-Categories</Tab>
                </Items>
                <Content>
                    <TabPanel Name="categories">
                        <Card>
                            <CardHeader>
                                @if (selectedCategory is not null)
                                {
                                    <CardText>
                                        <Row>
                                            <Column>
                                                <Div>Selected Category:</Div>
                                                <Div><Strong>@selectedCategory.Code</Strong> (@selectedCategory.Name)</Div>
                                            </Column>
                                            <Column TextAlignment="TextAlignment.End">
                                                <Tooltip Text="Delete selected category" ShowDelay="1000" HideDelay="200">
                                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedCategory">
                                                        <Icon Name="IconName.Delete" />
                                                    </Button>
                                                </Tooltip>
                                                <Buttons Role="ButtonsRole.Addons">
                                                    <Tooltip Text="Edit selected category" ShowDelay="1000" HideDelay="200">
                                                        <Button Size="Size.Small" Color="Color.Secondary" Clicked="EditSelectedCategory">
                                                            <Icon Name="IconName.Edit" />
                                                        </Button>
                                                    </Tooltip>
                                                    <Tooltip Text="Add new category" ShowDelay="1000" HideDelay="200">
                                                        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/category/add"))">
                                                            <Icon Name="IconName.Add" />
                                                        </Button>
                                                    </Tooltip>
                                                </Buttons>
                                            </Column>
                                        </Row>
                                    </CardText>
                                }
                                else
                                {
                                    <CardText>
                                        <Row>
                                            <Column>
                                                <Div>Selected Category:</Div>
                                                <Div>None</Div>
                                            </Column>
                                            <Column TextAlignment="TextAlignment.End">
                                                <Tooltip Text="Add new category" ShowDelay="1000" HideDelay="200">
                                                    <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/category/add"))">
                                                        <Icon Name="IconName.Add" />
                                                    </Button>
                                                </Tooltip>
                                            </Column>
                                        </Row>
                                    </CardText>
                                }
                            </CardHeader>
                            <CardBody>
                                @if (Categories.Count > 10)
                                {
                                    <DataGrid TItem="Category" Data="Categories" Responsive @bind-SelectedRow="@selectedCategory" 
                                              Hoverable 
                                              ShowPager 
                                              ShowPageSizes 
                                              Narrow 
                                              Resizable 
                                              Bordered>
                                        <DataGridColumns>
                                            <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Category" Field="@nameof(Category.Code)" Caption="#" Width="80px" />
                                            <DataGridColumn TItem="Category" Field="@nameof(Category.Name)" Caption="Name" />
                                            <DataGridColumn TItem="Category" Field="@nameof(Category.Description)" Caption="Description" />
                                        </DataGridColumns>
                                    </DataGrid>
                                }
                                else
                                {
                                    <DataGrid TItem="Category" Data="Categories" Responsive @bind-SelectedRow="@selectedCategory" 
                                              Hoverable 
                                              Narrow 
                                              Resizable
                                              Bordered>
                                        <DataGridColumns>
                                            <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Category" Field="@nameof(Category.Code)" Caption="#" Width="80px" />
                                            <DataGridColumn TItem="Category" Field="@nameof(Category.Name)" Caption="Name" />
                                            <DataGridColumn TItem="Category" Field="@nameof(Category.Description)" Caption="Description" />
                                        </DataGridColumns>
                                    </DataGrid>
                                }
                            </CardBody>
                        </Card>
                    </TabPanel>
                    <TabPanel Name="subcategories">
                        @if (SubCategories is null)
                        {
                            <Paragraph><em>Loading...</em></Paragraph>
                        }
                        else if (SubCategories.Count == 0)
                        {
                            <Paragraph><em>No subcategories found.</em></Paragraph>
                            <Paragraph>
                                <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/subcategory/add"))">
                                    <Icon Name="IconName.Add" /> Add SubCategory
                                </Button>
                            </Paragraph>
                        }
                        else
                        {
                            <Card>
                                <CardHeader>
                                    @if (selectedSubCategory is not null)
                                    {
                                        <CardText>
                                            <Row>
                                                <Column>
                                                    <Div>Selected SubCategory:</Div>
                                                    <Div><Strong>@selectedSubCategory.Code</Strong> (@selectedSubCategory.Name)</Div>
                                                </Column>
                                                <Column TextAlignment="TextAlignment.End">
                                                    <Tooltip Text="Delete selected subcategory" ShowDelay="1000" HideDelay="200">
                                                        <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedSubCategory">
                                                            <Icon Name="IconName.Delete" />
                                                        </Button>
                                                    </Tooltip>
                                                    <Buttons Role="ButtonsRole.Addons">
                                                        <Tooltip Text="Edit selected subcategory" ShowDelay="1000" HideDelay="200">
                                                            <Button Size="Size.Small" Color="Color.Secondary" Clicked="EditSelectedSubCategory">
                                                                <Icon Name="IconName.Edit" />
                                                            </Button>
                                                        </Tooltip>
                                                        <Tooltip Text="Add new subcategory" ShowDelay="1000" HideDelay="200">
                                                            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/subcategory/add"))">
                                                                <Icon Name="IconName.Add" />
                                                            </Button>
                                                        </Tooltip>
                                                    </Buttons>
                                                </Column>
                                            </Row>
                                        </CardText>
                                    }
                                    else
                                    {
                                        <CardText>
                                            <Row>
                                                <Column>
                                                    <Div>Selected Category:</Div>
                                                    <Div>None</Div>
                                                </Column>
                                                <Column TextAlignment="TextAlignment.End">
                                                    <Tooltip Text="Add new subcategory" ShowDelay="1000" HideDelay="200">
                                                        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => navManager.NavigateTo("/bankbook/subcategory/add"))">
                                                            <Icon Name="IconName.Add" />
                                                        </Button>
                                                    </Tooltip>
                                                </Column>
                                            </Row>
                                        </CardText>
                                    }
                                </CardHeader>
                                <CardBody>
                                    @if (SubCategories.Count > 10)
                                    {
                                        <DataGrid TItem="SubCategoryWithCategoryInfoDto" Data="SubCategories" Responsive @bind-SelectedRow="@selectedSubCategory" 
                                                  Hoverable 
                                                  ShowPager 
                                                  ShowPageSizes 
                                                  Groupable 
                                                  ShowGrouping 
                                                  Narrow 
                                                  Resizable 
                                                  Bordered>
                                            <DataGridColumns>
                                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Code)" Caption="#" Width="80px" />
                                                <DataGridColumn TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Name)" Caption="Name" />
                                                <DataGridColumn TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Description)" Caption="Description" />
                                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.CategoryCode)" Caption="Category" Width="80px" Groupable />
                                            </DataGridColumns>
                                        </DataGrid>
                                    }
                                    else
                                    {
                                        <DataGrid TItem="SubCategoryWithCategoryInfoDto" Data="SubCategories" Responsive @bind-SelectedRow="@selectedSubCategory" 
                                                  Hoverable 
                                                  Groupable 
                                                  ShowGrouping 
                                                  Narrow 
                                                  Resizable 
                                                  Bordered>
                                            <DataGridColumns>
                                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Code)" Caption="#" Width="80px" />
                                                <DataGridColumn TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Name)" Caption="Name" />
                                                <DataGridColumn TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.Description)" Caption="Description" />
                                                <DataGridColumn TextAlignment="TextAlignment.Center" TItem="SubCategoryWithCategoryInfoDto" Field="@nameof(SubCategoryWithCategoryInfoDto.CategoryCode)" Caption="Category" Width="80px" Groupable />
                                            </DataGridColumns>
                                        </DataGrid>
                                    }
                                </CardBody>
                            </Card>
                        }
                    </TabPanel>
                </Content>
            </Tabs>
            
        </Column>
    </Row>
}

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;
    private List<Category>? Categories = null;
    private List<SubCategoryWithCategoryInfoDto>? SubCategories = null;

    private Category? selectedCategory = null;
    private SubCategoryWithCategoryInfoDto? selectedSubCategory = null;


    [Parameter][SupplyParameterFromQuery(Name = "tab")] public string? Tab { get; set; } = null;
    private string selectedTab = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node { Text = "Category", Active = true }
        });

        // set selected tab based on parameter
        if (!string.IsNullOrWhiteSpace(Tab) &&
            (Tab == "categories" || Tab == "subcategories"))
        {
            selectedTab = Tab;
        }
        else
        {
            selectedTab = "categories";
        }

        // Load categories and subcategories
        await LoadData();
        // await base.OnInitializedAsync();
    }

    private async Task LoadCategories()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load categories from API or database
        Categories = await CategoryService.GetCategoriesAsync(currentUserId);
    }

    private async Task LoadSubCategories()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(
            user.Claims.First(x => x.Type.EndsWith("nameidentifier")).Value
        );

        // load subcategories from API or database
        var subcat = await SubCategoryService.GetSubCategoriesAsync(currentUserId);

        if (SubCategories is null)
            SubCategories = new List<SubCategoryWithCategoryInfoDto>();
        else
            SubCategories.Clear();



        foreach (var item in subcat)
        {
            var category = Categories!.FirstOrDefault(c => c.Id == item.CategoryId);

            if (category == null)
            {
                Console.WriteLine($"SubCategory {item.Name} a un CategoryId {item.CategoryId} introuvable !");
            }

            SubCategories.Add(new SubCategoryWithCategoryInfoDto
            {
                Id = item.Id,
                Code = item.Code,
                Name = item.Name,
                Description = item.Description,
                CategoryId = item.CategoryId,
                CategoryCode = category?.Code,
                CategoryName = category?.Name
            });
        }
    }

    private async Task LoadData()
    {
        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // load categories and subcategories from API or database
        await LoadCategories();
        await LoadSubCategories();
    }

    private Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;
        navManager.NavigateTo($"/bankbook/category?tab={name}", replace: true);
        return Task.CompletedTask;
    }

    private async Task DeleteSelectedCategory()
    {
        if (selectedCategory is not null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

            // get confirmation
            bool result = await MessageService.Confirm($"Are you sure you want to delete <strong>{selectedCategory.Name}</strong> category?", "Confirm Deletion");
            if (result == true)
            {
                // delete category
                var success = await CategoryService.DeleteCategoryAsync(currentUserId, selectedCategory.Id);
                if (success)
                {
                    // reload data
                    await LoadData();
                    selectedCategory = null;
                    StateHasChanged();
                }
                else // category does not exists or has bound subcategories
                {
                    await MessageService.Error($"The category <strong>{selectedCategory.Name}</strong> could not be deleted. It may have sub-categories associated with it.", "Cannot delete category");
                }
            }
        }
    }

    private async Task DeleteSelectedSubCategory()
    {
        if (selectedSubCategory is not null)
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);
            // get confirmation
            bool result = await MessageService.Confirm($"Are you sure you want to delete <strong>{selectedSubCategory.Name}</strong> sub-category?", "Confirm Deletion");
            if (result == true)
            {
                // delete subcategory
                var success = await SubCategoryService.DeleteSubCategoryAsync(currentUserId, selectedSubCategory.Id);
                if (success)
                {
                    // reload data
                    await LoadData();
                    selectedSubCategory = null;
                    StateHasChanged();
                }
                // todo : add line owner management there 
            }
        }
    }

    private async Task EditSelectedCategory()
    {
        // navigate to edit page
        if (selectedCategory is not null)
            navManager.NavigateTo($"/bankbook/category/edit/{selectedCategory.Id}");
    }

    private async Task EditSelectedSubCategory()
    {
        // navigate to edit page
        if (selectedSubCategory is not null)
            navManager.NavigateTo($"/bankbook/subcategory/edit/{selectedSubCategory.Id}");
    }
}
